.password-strength{
    margin-top: 4px;
    height: 10px;
    border-radius: 5px;
    background-color: #ddd;
    position: relative;
}
.password-strength-bar{
    width: 0px;
    height: 10px;
    border-radius: 5px;
    opacity: 0;
    position: absolute;
    top: 0px;
    left: 0px;
    transition: width 0.5s ease-in-out,background-color 0.5s ease-in-out,opacity 0.5s ease-in-out;
}
.password-strength-text{
    font-size: 14px;
    font-weight: 500;
    color: #bbb;
    text-align: right;
}